<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/phpunit/bootstrap.php"
    colors="true"
    verbose="true"
>
    <testsuites>
        <testsuite name="KerbCycle Smoke Tests">
            <directory suffix="Test.php">tests/phpunit/Smoke</directory>
        </testsuite>
    </testsuites>
<coverage>
    <include>
        <directory suffix=".php">includes</directory>
        <directory suffix=".php">admin</directory>
        <directory suffix=".php">public</directory>
    </include>
</coverage>
</phpunit>
